# EDA for Average Daily Attendance Data

***Import libraries:***

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Let's make sure we have the data in this folder, in order to read it in properly...

In [2]:
ls

 Volume in drive C is Windows
 Volume Serial Number is CAE1-C318

 Directory of C:\Users\Daniel Payan\Documents\ML\d_p327\Project\data

11/28/2022  05:55 PM    <DIR>          .
11/28/2022  05:55 PM    <DIR>          ..
11/28/2022  05:55 PM    <DIR>          .ipynb_checkpoints
11/18/2022  05:21 PM         4,759,702 3grade_STAAR.dat
11/18/2022  05:21 PM         4,758,314 4grade_STAAR.dat
11/18/2022  05:22 PM         7,292,662 5grade_STAAR.dat
11/18/2022  05:22 PM         4,783,506 6grade_STAAR.dat
11/18/2022  05:22 PM         4,749,172 7grade_STAAR.dat
11/18/2022  05:22 PM         9,696,589 8grade_STAAR.dat
09/25/2022  04:24 PM            38,243 ada_cleaning.ipynb
09/25/2022  04:24 PM            31,589 ada_cleaning_v2.ipynb
11/28/2022  05:25 PM           325,288 ada_district.csv
11/18/2022  07:05 PM         4,263,746 Census_Block_Group_2010_TX.csv
09/25/2022  04:24 PM            14,259 Census_Block_Group_2010_TX_cleaning.ipynb
09/25/2022  04:24 PM            63,073 Covid Cleaning County Level.ipynb
11/28/2022  05:30 PM        15,106,051 covid_confirmed_usafacts.csv
11/28/2022  05:31 PM            98,761 covid_county_population_usafacts.csv
11/28/2022  05:30 PM        10,021,985 covid_deaths_usafacts.csv
09/25/2022  04:24 PM            53,533 DATA_ESSER_DISTRICT.csv
09/25/2022  04:24 PM            32,205 DATA_LAUS_COUNTY.csv
09/25/2022  04:24 PM           449,543 DATA_NCES_DISTRICT.csv
09/25/2022  04:24 PM           482,719 DATA_NCES_DISTRICT_v3.csv
08/03/2022  06:50 PM         3,973,779 DATA_STAAR_DISTRICT_2019.csv
08/03/2022  06:50 PM         3,829,206 DATA_STAAR_DISTRICT_2021.csv
11/28/2022  03:35 PM         1,295,453 DATA_STAAR_DISTRICT_2022.csv
07/19/2022  09:44 AM            23,116 staar_labels.csv
              23 File(s)     76,142,494 bytes
               3 Dir(s)  11,641,073,664 bytes free

***Data Reading:***

In [4]:
# read in the csv file
df_d = pd.read_excel('ada_district.xlsx')

df_d

,County,County Name,District,District Name,2004-2005 ADA,2005-2006 ADA,2006-2007 ADA,2007-2008 ADA,2008-2009 ADA,2009-2010 ADA,...,2012-2013 ADA,2013-2014 ADA,2014-2015 ADA,2015-2016 ADA,2016-2017 ADA,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA,2021-2022 ADA
0,1,ANDERSON COUNTY,1902,CAYUGA ISD,552.283,545.145,544.206,552.317,568.046,591.523,...,560.125,536.913,558.005,550.326,554.814,548.228,538.511,523.142,515.330,543.274
1,1,ANDERSON COUNTY,1903,ELKHART ISD,1162.821,1177.646,1188.112,1237.254,1246.393,1240.699,...,1134.768,1123.365,1137.801,1158.018,1166.669,1132.978,1140.619,1132.691,1068.994,1076.294
2,1,ANDERSON COUNTY,1904,FRANKSTON ISD,749.499,756.271,744.326,741.357,720.495,707.630,...,713.236,725.837,748.137,780.154,797.272,797.575,747.921,727.934,688.153,793.261
3,1,ANDERSON COUNTY,1906,NECHES ISD,299.036,315.902,335.738,346.374,372.665,360.553,...,396.754,376.778,358.111,358.753,350.906,327.036,333.217,308.659,311.103,304.921
4,1,ANDERSON COUNTY,1907,PALESTINE ISD,3112.474,3175.535,3143.594,3039.308,3022.888,2999.546,...,3052.135,3018.452,3110.645,3134.608,3185.310,3138.390,3147.606,3008.592,3076.129,3053.283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,252,YOUNG COUNTY,252902,NEWCASTLE ISD,169.095,169.154,162.642,153.332,170.816,171.529,...,174.915,192.997,194.812,216.051,211.919,213.458,193.435,174.283,189.597,197.171
1408,252,YOUNG COUNTY,252903,OLNEY ISD,726.153,735.327,754.548,739.683,735.202,716.384,...,680.201,667.710,653.579,634.693,644.138,615.896,620.561,590.249,625.046,636.559
1409,253,ZAPATA COUNTY,253901,ZAPATA COUNTY ISD,2995.046,2932.501,2997.509,3106.157,3114.621,3162.609,...,3187.021,3230.528,3240.969,3227.875,3177.276,3077.732,3117.638,2933.070,2961.206,2938.852
1410,254,ZAVALA COUNTY,254901,CRYSTAL CITY ISD,1886.989,1867.794,1796.737,1800.391,1749.728,1700.161,...,1795.871,1841.076,1823.789,1808.141,1763.112,1773.391,1757.022,1635.690,1565.095,1551.166
1411,254,ZAVALA COUNTY,254902,LA PRYOR ISD,452.541,459.849,458.832,479.206,465.721,456.404,...,443.784,426.264,445.610,459.117,444.017,422.239,456.446,446.115,470.604,437.443

In [3]:
df_d.drop(columns = [' 2004-2005 ADA', \
                      ' 2005-2006 ADA', \
                      ' 2006-2007 ADA', \
                      '2007-2008 ADA', \
                      '2008-2009 ADA', \
                      ' 2009-2010 ADA', \
                      '2010-2011 ADA', \
                      ' 2011-2012 ADA', \
                      ' 2012-2013 ADA', \
                      ' 2013-2014 ADA', \
                      ' 2014-2015 ADA', \
                      ' 2015-2016 ADA', \
                      ' 2016-2017 ADA'], inplace = True)

df_d.replace(',','', regex=True, inplace=True)
df_d['District #'] = df_d['District']
df_d[' 2017-2018 ADA']= df_d[' 2017-2018 ADA'].astype(float)
df_d[' 2018-2019 ADA']= df_d[' 2017-2018 ADA'].astype(float)
df_d[' 2019-2020 ADA']= df_d[' 2017-2018 ADA'].astype(float)
df_d[' 2020-2021 ADA']= df_d[' 2017-2018 ADA'].astype(float)
df_d[' 2021-2022 ADA']= df_d[' 2017-2018 ADA'].asty
df_d.dropna(inplace = True)
zeros = df_d[df_d[' 2017-2018 ADA'] == 0]
df_d.drop(zeros.index, inplace=True)

df_d['2017-2018 ADA']= df_d[' 2017-2018 ADA']
df_d['2018-2019 ADA']= df_d[' 2018-2019 ADA']
df_d['2019-2020 ADA']= df_d[' 2019-2020 ADA']
df_d['2020-2021 ADA']= df_d[' 2020-2021 ADA']

df_d.drop(columns = [' 2017-2018 ADA', \
                     ' 2018-2019 ADA', \
                     ' 2019-2020 ADA', \
                     ' 2020-2021 ADA'], inplace = True)
df_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 1406
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   County         1206 non-null   int64
 1   County Name    1206 non-null   object
 2   District       1206 non-null   int64
 3   District Name  1206 non-null   object
 4   District #     1206 non-null   int64
 5   2017-2018 ADA  1206 non-null   float64
 6   2018-2019 ADA  1206 non-null   float64
 7   2019-2020 ADA  1206 non-null   float64
 8   2020-2021 ADA  1206 non-null   float64
dtypes: float64(4), int64(3), object(2)
memory usage: 94.2+ KB

In [5]:
df_d.to_csv('DATA_ADA_DISTRICT.csv', index = None)

In [6]:
# read in the csv file
df_c = pd.read_csv('ada data/ada_county.csv')

df_c.drop(columns = [' 2004-2005 ADA', \
                    ' 2005-2006 ADA', \
                    ' 2006-2007 ADA', \
                    '2007-2008 ADA', \
                    '2008-2009 ADA', \
                    ' 2009-2010 ADA', \
                    '2010-2011 ADA', \
                    ' 2011-2012 ADA', \
                    ' 2012-2013 ADA', \
                    ' 2013-2014 ADA', \
                    ' 2014-2015 ADA', \
                    ' 2015-2016 ADA', \
                    ' 2016-2017 ADA'], inplace = True)

df_c

,County,County Name,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA
0,1,ANDERSON COUNTY,"7,786.97","7,690.77","7,340.51",7213.337
1,2,ANDREWS COUNTY,"3,840.23","4,085.36","4,064.98",4068.126
2,3,ANGELINA COUNTY,"15,973.61","15,763.88","15,282.64",14801.498
3,4,ARANSAS COUNTY,"3,192.18","2,641.35","2,680.59",2681.159
4,5,ARCHER COUNTY,"1,806.48","1,839.82","1,826.43",1884.252
...,...,...,...,...,...,...
248,250,WOOD COUNTY,"5,820.52","5,787.86","5,583.89",5724.323
249,251,YOAKUM COUNTY,"1,995.59","2,024.96","1,966.94",1936.490
250,252,YOUNG COUNTY,"3,062.38","3,098.99","2,859.72",3009.943
251,253,ZAPATA COUNTY,"3,077.73","3,117.64","2,933.07",2961.206
252,254,ZAVALA COUNTY,"2,195.63","2,213.47","2,081.81",2035.699

In [7]:
columns = ['County', 'County Name', 'County #', 'Public Health Region', 'Health Service Region']

cc = pd.read_csv('ada data/county_conversion.csv', names = columns, header = 0)

cc.drop(columns = ['Public Health Region', 'Health Service Region', 'County Name'], inplace = True)

cc

     County  County #
0         1     48001
1         2     48003
2         3     48005
3         4     48007
4         5     48009
..      ...       ...
249     250     48499
250     251     48501
251     252     48503
252     253     48505
253     254     48507

[254 rows x 2 columns]

In [8]:
df_c = df_c.merge(cc, how = "inner", on = "County")

In [9]:
df_c

,County,County Name,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA,County #
0,1,ANDERSON COUNTY,"7,786.97","7,690.77","7,340.51",7213.337,48001
1,2,ANDREWS COUNTY,"3,840.23","4,085.36","4,064.98",4068.126,48003
2,3,ANGELINA COUNTY,"15,973.61","15,763.88","15,282.64",14801.498,48005
3,4,ARANSAS COUNTY,"3,192.18","2,641.35","2,680.59",2681.159,48007
4,5,ARCHER COUNTY,"1,806.48","1,839.82","1,826.43",1884.252,48009
...,...,...,...,...,...,...,...
248,250,WOOD COUNTY,"5,820.52","5,787.86","5,583.89",5724.323,48499
249,251,YOAKUM COUNTY,"1,995.59","2,024.96","1,966.94",1936.490,48501
250,252,YOUNG COUNTY,"3,062.38","3,098.99","2,859.72",3009.943,48503
251,253,ZAPATA COUNTY,"3,077.73","3,117.64","2,933.07",2961.206,48505
252,254,ZAVALA COUNTY,"2,195.63","2,213.47","2,081.81",2035.699,48507

In [10]:
df_c.to_csv('DATA_ADA_COUNTY.csv', index = None)