# EDA for Average Daily Attendance Data

***Import libraries:***

In [271]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

***Data Reading:***

In [272]:
# read in the csv file
df_d = pd.read_excel('ada_district.xlsx')

print(df_d.info())
df_d.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1412 entries, 0 to 1411
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   County          1412 non-null   int64
 1   County Name     1412 non-null   object
 2   District        1412 non-null   int64
 3   District Name   1412 non-null   object
 4    2004-2005 ADA  1296 non-null   float64
 5    2005-2006 ADA  1279 non-null   float64
 6    2006-2007 ADA  1296 non-null   float64
 7   2007-2008 ADA   1284 non-null   float64
 8   2008-2009 ADA   1283 non-null   float64
 9    2009-2010 ADA  1285 non-null   float64
 10  2010-2011 ADA   1303 non-null   float64
 11   2011-2012 ADA  1254 non-null   float64
 12   2012-2013 ADA  1260 non-null   float64
 13   2013-2014 ADA  1257 non-null   float64
 14   2014-2015 ADA  1249 non-null   float64
 15   2015-2016 ADA  1238 non-null   float64
 16   2016-2017 ADA  1232 non-null   float64
 17   2017-2018 ADA  1230 non-null   float64
 18   2018-2019 ADA  1230 non-null   float64
 19   2019-2020 ADA  1230 non-null   float64
 20   2020-2021 ADA  1233 non-null   float64
 21  2021-2022 ADA   1237 non-null   float64
dtypes: float64(18), int64(2), object(2)
memory usage: 242.8+ KB
None

,County,County Name,District,District Name,2004-2005 ADA,2005-2006 ADA,2006-2007 ADA,2007-2008 ADA,2008-2009 ADA,2009-2010 ADA,...,2012-2013 ADA,2013-2014 ADA,2014-2015 ADA,2015-2016 ADA,2016-2017 ADA,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA,2021-2022 ADA
0,1,ANDERSON COUNTY,1902,CAYUGA ISD,552.283,545.145,544.206,552.317,568.046,591.523,...,560.125,536.913,558.005,550.326,554.814,548.228,538.511,523.142,515.330,543.274
1,1,ANDERSON COUNTY,1903,ELKHART ISD,1162.821,1177.646,1188.112,1237.254,1246.393,1240.699,...,1134.768,1123.365,1137.801,1158.018,1166.669,1132.978,1140.619,1132.691,1068.994,1076.294
2,1,ANDERSON COUNTY,1904,FRANKSTON ISD,749.499,756.271,744.326,741.357,720.495,707.630,...,713.236,725.837,748.137,780.154,797.272,797.575,747.921,727.934,688.153,793.261
3,1,ANDERSON COUNTY,1906,NECHES ISD,299.036,315.902,335.738,346.374,372.665,360.553,...,396.754,376.778,358.111,358.753,350.906,327.036,333.217,308.659,311.103,304.921
4,1,ANDERSON COUNTY,1907,PALESTINE ISD,3112.474,3175.535,3143.594,3039.308,3022.888,2999.546,...,3052.135,3018.452,3110.645,3134.608,3185.310,3138.390,3147.606,3008.592,3076.129,3053.283

In [273]:
cols_old = df_d.columns.to_list()
cols_new = ['County #',
'County Name',
'District #',
'District Name',
'2004-2005 ADA',
'2005-2006 ADA',
'2006-2007 ADA',
'2007-2008 ADA',
'2008-2009 ADA',
'2009-2010 ADA',
'2010-2011 ADA',
'2011-2012 ADA',
'2012-2013 ADA',
'2013-2014 ADA',
'2014-2015 ADA',
'2015-2016 ADA',
'2016-2017 ADA',
'2017-2018 ADA',
'2018-2019 ADA',
'2019-2020 ADA',
'2020-2021 ADA',
'2021-2022 ADA']

df_d.rename(columns=dict(zip(cols_old, cols_new)), inplace=True)

In [274]:
df_d.replace(',', '', regex=True, inplace=True)
df_d[cols_new[4:]] = df_d[cols_new[4:]].astype('float')

In [275]:
cols_keep=['County #',
'District #',
'2018-2019 ADA',
'2019-2020 ADA',
'2020-2021 ADA',
'2021-2022 ADA']

df_d[cols_keep].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1412 entries, 0 to 1411
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   County #       1412 non-null   int64
 1   District #     1412 non-null   int64
 2   2018-2019 ADA  1230 non-null   float64
 3   2019-2020 ADA  1230 non-null   float64
 4   2020-2021 ADA  1233 non-null   float64
 5   2021-2022 ADA  1237 non-null   float64
dtypes: float64(4), int64(2)
memory usage: 66.3 KB

In [276]:
df_d

,County #,County Name,District #,District Name,2004-2005 ADA,2005-2006 ADA,2006-2007 ADA,2007-2008 ADA,2008-2009 ADA,2009-2010 ADA,...,2012-2013 ADA,2013-2014 ADA,2014-2015 ADA,2015-2016 ADA,2016-2017 ADA,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA,2021-2022 ADA
0,1,ANDERSON COUNTY,1902,CAYUGA ISD,552.283,545.145,544.206,552.317,568.046,591.523,...,560.125,536.913,558.005,550.326,554.814,548.228,538.511,523.142,515.330,543.274
1,1,ANDERSON COUNTY,1903,ELKHART ISD,1162.821,1177.646,1188.112,1237.254,1246.393,1240.699,...,1134.768,1123.365,1137.801,1158.018,1166.669,1132.978,1140.619,1132.691,1068.994,1076.294
2,1,ANDERSON COUNTY,1904,FRANKSTON ISD,749.499,756.271,744.326,741.357,720.495,707.630,...,713.236,725.837,748.137,780.154,797.272,797.575,747.921,727.934,688.153,793.261
3,1,ANDERSON COUNTY,1906,NECHES ISD,299.036,315.902,335.738,346.374,372.665,360.553,...,396.754,376.778,358.111,358.753,350.906,327.036,333.217,308.659,311.103,304.921
4,1,ANDERSON COUNTY,1907,PALESTINE ISD,3112.474,3175.535,3143.594,3039.308,3022.888,2999.546,...,3052.135,3018.452,3110.645,3134.608,3185.310,3138.390,3147.606,3008.592,3076.129,3053.283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,252,YOUNG COUNTY,252902,NEWCASTLE ISD,169.095,169.154,162.642,153.332,170.816,171.529,...,174.915,192.997,194.812,216.051,211.919,213.458,193.435,174.283,189.597,197.171
1408,252,YOUNG COUNTY,252903,OLNEY ISD,726.153,735.327,754.548,739.683,735.202,716.384,...,680.201,667.710,653.579,634.693,644.138,615.896,620.561,590.249,625.046,636.559
1409,253,ZAPATA COUNTY,253901,ZAPATA COUNTY ISD,2995.046,2932.501,2997.509,3106.157,3114.621,3162.609,...,3187.021,3230.528,3240.969,3227.875,3177.276,3077.732,3117.638,2933.070,2961.206,2938.852
1410,254,ZAVALA COUNTY,254901,CRYSTAL CITY ISD,1886.989,1867.794,1796.737,1800.391,1749.728,1700.161,...,1795.871,1841.076,1823.789,1808.141,1763.112,1773.391,1757.022,1635.690,1565.095,1551.166
1411,254,ZAVALA COUNTY,254902,LA PRYOR ISD,452.541,459.849,458.832,479.206,465.721,456.404,...,443.784,426.264,445.610,459.117,444.017,422.239,456.446,446.115,470.604,437.443

In [277]:
temp=[c + ': ' + str(df_d[c].isna().sum()) for c in df_d[cols_keep] if df_d[c].isna().any()]
temp

['2018-2019 ADA: 182',
 '2019-2020 ADA: 182',
 '2020-2021 ADA: 179',
 '2021-2022 ADA: 175']

In [278]:
temp

['2018-2019 ADA: 182',
 '2019-2020 ADA: 182',
 '2020-2021 ADA: 179',
 '2021-2022 ADA: 175']

In [279]:
df_d

,County #,County Name,District #,District Name,2004-2005 ADA,2005-2006 ADA,2006-2007 ADA,2007-2008 ADA,2008-2009 ADA,2009-2010 ADA,...,2012-2013 ADA,2013-2014 ADA,2014-2015 ADA,2015-2016 ADA,2016-2017 ADA,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA,2021-2022 ADA
0,1,ANDERSON COUNTY,1902,CAYUGA ISD,552.283,545.145,544.206,552.317,568.046,591.523,...,560.125,536.913,558.005,550.326,554.814,548.228,538.511,523.142,515.330,543.274
1,1,ANDERSON COUNTY,1903,ELKHART ISD,1162.821,1177.646,1188.112,1237.254,1246.393,1240.699,...,1134.768,1123.365,1137.801,1158.018,1166.669,1132.978,1140.619,1132.691,1068.994,1076.294
2,1,ANDERSON COUNTY,1904,FRANKSTON ISD,749.499,756.271,744.326,741.357,720.495,707.630,...,713.236,725.837,748.137,780.154,797.272,797.575,747.921,727.934,688.153,793.261
3,1,ANDERSON COUNTY,1906,NECHES ISD,299.036,315.902,335.738,346.374,372.665,360.553,...,396.754,376.778,358.111,358.753,350.906,327.036,333.217,308.659,311.103,304.921
4,1,ANDERSON COUNTY,1907,PALESTINE ISD,3112.474,3175.535,3143.594,3039.308,3022.888,2999.546,...,3052.135,3018.452,3110.645,3134.608,3185.310,3138.390,3147.606,3008.592,3076.129,3053.283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,252,YOUNG COUNTY,252902,NEWCASTLE ISD,169.095,169.154,162.642,153.332,170.816,171.529,...,174.915,192.997,194.812,216.051,211.919,213.458,193.435,174.283,189.597,197.171
1408,252,YOUNG COUNTY,252903,OLNEY ISD,726.153,735.327,754.548,739.683,735.202,716.384,...,680.201,667.710,653.579,634.693,644.138,615.896,620.561,590.249,625.046,636.559
1409,253,ZAPATA COUNTY,253901,ZAPATA COUNTY ISD,2995.046,2932.501,2997.509,3106.157,3114.621,3162.609,...,3187.021,3230.528,3240.969,3227.875,3177.276,3077.732,3117.638,2933.070,2961.206,2938.852
1410,254,ZAVALA COUNTY,254901,CRYSTAL CITY ISD,1886.989,1867.794,1796.737,1800.391,1749.728,1700.161,...,1795.871,1841.076,1823.789,1808.141,1763.112,1773.391,1757.022,1635.690,1565.095,1551.166
1411,254,ZAVALA COUNTY,254902,LA PRYOR ISD,452.541,459.849,458.832,479.206,465.721,456.404,...,443.784,426.264,445.610,459.117,444.017,422.239,456.446,446.115,470.604,437.443

In [280]:
df_d.to_csv('DATA_ADA_DISTRICT.csv', index = None)

In [281]:
df_d.drop(columns = ['2004-2005 ADA', \
                      '2005-2006 ADA', \
                      '2006-2007 ADA', \
                      '2007-2008 ADA', \
                      '2008-2009 ADA', \
                      '2009-2010 ADA', \
                      '2010-2011 ADA', \
                      '2011-2012 ADA', \
                      '2012-2013 ADA', \
                      '2013-2014 ADA', \
                      '2014-2015 ADA', \
                      '2015-2016 ADA', \
                      '2016-2017 ADA'], inplace = True)
df_d

,County #,County Name,District #,District Name,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA,2021-2022 ADA
0,1,ANDERSON COUNTY,1902,CAYUGA ISD,548.228,538.511,523.142,515.330,543.274
1,1,ANDERSON COUNTY,1903,ELKHART ISD,1132.978,1140.619,1132.691,1068.994,1076.294
2,1,ANDERSON COUNTY,1904,FRANKSTON ISD,797.575,747.921,727.934,688.153,793.261
3,1,ANDERSON COUNTY,1906,NECHES ISD,327.036,333.217,308.659,311.103,304.921
4,1,ANDERSON COUNTY,1907,PALESTINE ISD,3138.390,3147.606,3008.592,3076.129,3053.283
...,...,...,...,...,...,...,...,...,...
1407,252,YOUNG COUNTY,252902,NEWCASTLE ISD,213.458,193.435,174.283,189.597,197.171
1408,252,YOUNG COUNTY,252903,OLNEY ISD,615.896,620.561,590.249,625.046,636.559
1409,253,ZAPATA COUNTY,253901,ZAPATA COUNTY ISD,3077.732,3117.638,2933.070,2961.206,2938.852
1410,254,ZAVALA COUNTY,254901,CRYSTAL CITY ISD,1773.391,1757.022,1635.690,1565.095,1551.166
1411,254,ZAVALA COUNTY,254902,LA PRYOR ISD,422.239,456.446,446.115,470.604,437.443

In [282]:
df_d

,County #,County Name,District #,District Name,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA,2021-2022 ADA
0,1,ANDERSON COUNTY,1902,CAYUGA ISD,548.228,538.511,523.142,515.330,543.274
1,1,ANDERSON COUNTY,1903,ELKHART ISD,1132.978,1140.619,1132.691,1068.994,1076.294
2,1,ANDERSON COUNTY,1904,FRANKSTON ISD,797.575,747.921,727.934,688.153,793.261
3,1,ANDERSON COUNTY,1906,NECHES ISD,327.036,333.217,308.659,311.103,304.921
4,1,ANDERSON COUNTY,1907,PALESTINE ISD,3138.390,3147.606,3008.592,3076.129,3053.283
...,...,...,...,...,...,...,...,...,...
1407,252,YOUNG COUNTY,252902,NEWCASTLE ISD,213.458,193.435,174.283,189.597,197.171
1408,252,YOUNG COUNTY,252903,OLNEY ISD,615.896,620.561,590.249,625.046,636.559
1409,253,ZAPATA COUNTY,253901,ZAPATA COUNTY ISD,3077.732,3117.638,2933.070,2961.206,2938.852
1410,254,ZAVALA COUNTY,254901,CRYSTAL CITY ISD,1773.391,1757.022,1635.690,1565.095,1551.166
1411,254,ZAVALA COUNTY,254902,LA PRYOR ISD,422.239,456.446,446.115,470.604,437.443

In [283]:
hold=pd.DataFrame()
hold['County Name'] = df_d['County Name']

In [284]:
hold.drop_duplicates(inplace=True)

In [286]:
hold.reset_index(inplace=True)
hold

     index      County Name
0        0  ANDERSON COUNTY
1        7   ANDREWS COUNTY
2        8  ANGELINA COUNTY
3       15   ARANSAS COUNTY
4       16    ARCHER COUNTY
..     ...              ...
248   1398      WOOD COUNTY
249   1404    YOAKUM COUNTY
250   1406     YOUNG COUNTY
251   1409    ZAPATA COUNTY
252   1410    ZAVALA COUNTY

[253 rows x 2 columns]

In [287]:
df_d.drop(['County Name','District #','District Name'],axis=1, inplace=True)

In [288]:
df_c=df_d.groupby('County #')[['2017-2018 ADA','2018-2019 ADA','2019-2020 ADA','2020-2021 ADA','2021-2022 ADA']].sum()
df_c

,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA,2021-2022 ADA
County #,,,,,
1,7786.972,7690.767,7340.511,7213.337,7330.377
2,3840.233,4085.355,4064.983,4068.126,3893.362
3,15973.608,15763.882,15282.635,14801.498,14898.572
4,3192.177,2641.349,2680.589,2681.159,2754.249
5,1806.483,1839.817,1826.430,1884.252,2011.353
...,...,...,...,...,...
250,5820.522,5787.863,5583.886,5724.323,5849.707
251,1995.591,2024.958,1966.937,1936.490,1865.539
252,3062.381,3098.990,2859.715,3009.943,2957.420
253,3077.732,3117.638,2933.070,2961.206,2938.852
254,2195.630,2213.468,2081.805,2035.699,1988.609

In [289]:
df_c.reset_index(inplace=True)
df_c

,County #,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA,2021-2022 ADA
0,1,7786.972,7690.767,7340.511,7213.337,7330.377
1,2,3840.233,4085.355,4064.983,4068.126,3893.362
2,3,15973.608,15763.882,15282.635,14801.498,14898.572
3,4,3192.177,2641.349,2680.589,2681.159,2754.249
4,5,1806.483,1839.817,1826.430,1884.252,2011.353
...,...,...,...,...,...,...
248,250,5820.522,5787.863,5583.886,5724.323,5849.707
249,251,1995.591,2024.958,1966.937,1936.490,1865.539
250,252,3062.381,3098.990,2859.715,3009.943,2957.420
251,253,3077.732,3117.638,2933.070,2961.206,2938.852
252,254,2195.630,2213.468,2081.805,2035.699,1988.609

In [290]:
df_c.rename(columns={'County #':'County'},inplace=True)

In [291]:
columns = ['County', 'County Name', 'County #', 'Public Health Region', 'Health Service Region']

cc = pd.read_csv('county_conversion.csv', names = columns, header = 0)

cc.drop(columns = ['Public Health Region', 'Health Service Region', 'County Name'], inplace = True)

cc

     County  County #
0         1     48001
1         2     48003
2         3     48005
3         4     48007
4         5     48009
..      ...       ...
249     250     48499
250     251     48501
251     252     48503
252     253     48505
253     254     48507

[254 rows x 2 columns]

In [292]:
df_c = df_c.merge(cc, how = "inner", on = "County")

In [293]:
df_c.insert(1,'County Name',hold['County Name'])
df_c

,County,County Name,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA,2021-2022 ADA,County #
0,1,ANDERSON COUNTY,7786.972,7690.767,7340.511,7213.337,7330.377,48001
1,2,ANDREWS COUNTY,3840.233,4085.355,4064.983,4068.126,3893.362,48003
2,3,ANGELINA COUNTY,15973.608,15763.882,15282.635,14801.498,14898.572,48005
3,4,ARANSAS COUNTY,3192.177,2641.349,2680.589,2681.159,2754.249,48007
4,5,ARCHER COUNTY,1806.483,1839.817,1826.430,1884.252,2011.353,48009
...,...,...,...,...,...,...,...,...
248,250,WOOD COUNTY,5820.522,5787.863,5583.886,5724.323,5849.707,48499
249,251,YOAKUM COUNTY,1995.591,2024.958,1966.937,1936.490,1865.539,48501
250,252,YOUNG COUNTY,3062.381,3098.990,2859.715,3009.943,2957.420,48503
251,253,ZAPATA COUNTY,3077.732,3117.638,2933.070,2961.206,2938.852,48505
252,254,ZAVALA COUNTY,2195.630,2213.468,2081.805,2035.699,1988.609,48507

In [294]:
df_c.to_csv('DATA_ADA_COUNTY.csv', index = None)