In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
cols_staar = ['DISTRICT',
            'r_all_rs',
            'r_ti1y_rs',
            'r_ecoy_rs',
            'r_eco1_rs',
            'r_etha_rs',
            'r_ethh_rs',
            'r_ethb_rs',
            'r_ethw_rs',
            'r_spey_rs',
            'r_all_d',
            'r_ti1y_d',
            'r_ecoy_d',
            'r_eco1_d',
            'r_etha_d',
            'r_ethh_d',
            'r_ethb_d',
            'r_ethw_d',
            'r_spey_d',
            'm_all_rs',
            'm_ti1y_rs',
            'm_ecoy_rs',
            'm_eco1_rs',
            'm_etha_rs',
            'm_ethh_rs',
            'm_ethb_rs',
            'm_ethw_rs',
            'm_spey_rs',
            'm_all_d',
            'm_ti1y_d',
            'm_ecoy_d',
            'm_eco1_d',
            'm_etha_d',
            'm_ethh_d',
            'm_ethb_d',
            'm_ethw_d',
            'm_spey_d']

In [5]:
grade3_df = pd.read_csv('data/3grade_STAAR.dat', usecols=cols_staar)
grade4_df = pd.read_csv('data/4grade_STAAR.dat', usecols=cols_staar)
grade5_df = pd.read_csv('data/5grade_STAAR.dat', usecols=cols_staar)
grade6_df = pd.read_csv('data/6grade_STAAR.dat', usecols=cols_staar)
grade7_df = pd.read_csv('data/7grade_STAAR.dat', usecols=cols_staar)
grade8_df = pd.read_csv('data/8grade_STAAR.dat', usecols=cols_staar)

In [6]:
grade3_df

,DISTRICT,r_all_d,r_ethh_d,r_etha_d,r_ethb_d,r_ethw_d,r_ecoy_d,r_eco1_d,r_ti1y_d,r_spey_d,...,r_spey_rs,m_all_rs,m_ethh_rs,m_etha_rs,m_ethb_rs,m_ethw_rs,m_ecoy_rs,m_eco1_rs,m_ti1y_rs,m_spey_rs
0,1902,40,6,0,0,32,22,20,40,8,...,1274.0,1524.0,1521.0,NaN,NaN,1522.0,1446.0,1435.0,1524.0,1206.0
1,1903,85,10,0,5,64,41,39,85,13,...,1413.0,1474.0,1444.0,NaN,1283.0,1486.0,1432.0,1432.0,1474.0,1410.0
2,1904,61,7,1,4,48,32,32,61,8,...,1347.0,1452.0,1345.0,NaN,NaN,1468.0,1401.0,1401.0,1452.0,1298.0
3,1906,20,1,0,2,17,11,7,20,2,...,NaN,1519.0,NaN,NaN,NaN,1530.0,1473.0,1464.0,1519.0,NaN
4,1907,221,78,2,64,68,159,136,221,30,...,1390.0,1426.0,1400.0,NaN,1391.0,1491.0,1407.0,1406.0,1426.0,1362.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,252902,12,1,0,0,11,9,9,12,1,...,NaN,1384.0,NaN,NaN,NaN,1386.0,1368.0,1368.0,1384.0,NaN
1161,252903,43,15,0,1,26,22,15,41,5,...,1229.0,1377.0,1331.0,NaN,NaN,1409.0,1381.0,1357.0,1387.0,1218.0
1162,253901,209,207,0,0,1,177,131,209,18,...,1328.0,1436.0,1435.0,NaN,NaN,NaN,1422.0,1417.0,1436.0,1330.0
1163,254901,120,120,0,0,0,99,90,119,14,...,1322.0,1377.0,1377.0,NaN,NaN,NaN,1376.0,1368.0,1377.0,1245.0
1164,254902,45,44,0,0,1,40,35,45,8,...,1269.0,1387.0,1385.0,NaN,NaN,NaN,1385.0,1386.0,1387.0,1254.0

In [7]:
print('grade3_df shape:', grade3_df.shape)
print('grade4_df shape:', grade4_df.shape)
print('grade5_df shape:', grade5_df.shape)
print('grade6_df shape:', grade6_df.shape)
print('grade7_df shape:', grade7_df.shape)
print('grade8_df shape:', grade8_df.shape)

grade3_df shape: (1165, 37)
grade4_df shape: (1160, 37)
grade5_df shape: (1161, 37)
grade6_df shape: (1161, 37)
grade7_df shape: (1150, 37)
grade8_df shape: (1149, 37)

In [8]:
grade3_df = grade3_df.add_suffix('_g3_2022')
grade4_df = grade4_df.add_suffix('_g4_2022')
grade5_df = grade5_df.add_suffix('_g5_2022')
grade6_df = grade6_df.add_suffix('_g6_2022')
grade7_df = grade7_df.add_suffix('_g7_2022')
grade8_df = grade8_df.add_suffix('_g8_2022')

In [9]:
grade3_df.rename(columns = {'DISTRICT_g3_2022':'District #'},inplace=True)
grade4_df.rename(columns = {'DISTRICT_g4_2022':'District #'},inplace=True)
grade5_df.rename(columns = {'DISTRICT_g5_2022':'District #'},inplace=True)
grade6_df.rename(columns = {'DISTRICT_g6_2022':'District #'},inplace=True)
grade7_df.rename(columns = {'DISTRICT_g7_2022':'District #'},inplace=True)
grade8_df.rename(columns = {'DISTRICT_g8_2022':'District #'},inplace=True)

In [10]:
grade3_df

,District #,r_all_d_g3_2022,r_ethh_d_g3_2022,r_etha_d_g3_2022,r_ethb_d_g3_2022,r_ethw_d_g3_2022,r_ecoy_d_g3_2022,r_eco1_d_g3_2022,r_ti1y_d_g3_2022,r_spey_d_g3_2022,...,r_spey_rs_g3_2022,m_all_rs_g3_2022,m_ethh_rs_g3_2022,m_etha_rs_g3_2022,m_ethb_rs_g3_2022,m_ethw_rs_g3_2022,m_ecoy_rs_g3_2022,m_eco1_rs_g3_2022,m_ti1y_rs_g3_2022,m_spey_rs_g3_2022
0,1902,40,6,0,0,32,22,20,40,8,...,1274.0,1524.0,1521.0,NaN,NaN,1522.0,1446.0,1435.0,1524.0,1206.0
1,1903,85,10,0,5,64,41,39,85,13,...,1413.0,1474.0,1444.0,NaN,1283.0,1486.0,1432.0,1432.0,1474.0,1410.0
2,1904,61,7,1,4,48,32,32,61,8,...,1347.0,1452.0,1345.0,NaN,NaN,1468.0,1401.0,1401.0,1452.0,1298.0
3,1906,20,1,0,2,17,11,7,20,2,...,NaN,1519.0,NaN,NaN,NaN,1530.0,1473.0,1464.0,1519.0,NaN
4,1907,221,78,2,64,68,159,136,221,30,...,1390.0,1426.0,1400.0,NaN,1391.0,1491.0,1407.0,1406.0,1426.0,1362.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,252902,12,1,0,0,11,9,9,12,1,...,NaN,1384.0,NaN,NaN,NaN,1386.0,1368.0,1368.0,1384.0,NaN
1161,252903,43,15,0,1,26,22,15,41,5,...,1229.0,1377.0,1331.0,NaN,NaN,1409.0,1381.0,1357.0,1387.0,1218.0
1162,253901,209,207,0,0,1,177,131,209,18,...,1328.0,1436.0,1435.0,NaN,NaN,NaN,1422.0,1417.0,1436.0,1330.0
1163,254901,120,120,0,0,0,99,90,119,14,...,1322.0,1377.0,1377.0,NaN,NaN,NaN,1376.0,1368.0,1377.0,1245.0
1164,254902,45,44,0,0,1,40,35,45,8,...,1269.0,1387.0,1385.0,NaN,NaN,NaN,1385.0,1386.0,1387.0,1254.0

In [11]:
print(grade3_df['District #'].isna().sum())
print(grade4_df['District #'].isna().sum())
print(grade5_df['District #'].isna().sum())
print(grade6_df['District #'].isna().sum())
print(grade7_df['District #'].isna().sum())
print(grade8_df['District #'].isna().sum())

0
0
0
0
0
0

In [12]:
print('\ngrade3_df\n',grade3_df.isna().sum())
print('\ngrade4_df\n',grade4_df.isna().sum())
print('\ngrade5_df\n',grade5_df.isna().sum())
print('\ngrade6_df\n',grade6_df.isna().sum())
print('\ngrade7_df\n',grade7_df.isna().sum())
print('\ngrade8_df\n',grade8_df.isna().sum())

grade3_df
 District #             0
r_all_d_g3_2022        0
r_ethh_d_g3_2022       0
r_etha_d_g3_2022       0
r_ethb_d_g3_2022       0
r_ethw_d_g3_2022       0
r_ecoy_d_g3_2022       0
r_eco1_d_g3_2022       0
r_ti1y_d_g3_2022       0
r_spey_d_g3_2022       0
m_all_d_g3_2022        0
m_ethh_d_g3_2022       0
m_etha_d_g3_2022       0
m_ethb_d_g3_2022       0
m_ethw_d_g3_2022       0
m_ecoy_d_g3_2022       0
m_eco1_d_g3_2022       0
m_ti1y_d_g3_2022       0
m_spey_d_g3_2022       0
r_all_rs_g3_2022      10
r_ethh_rs_g3_2022    220
r_etha_rs_g3_2022    980
r_ethb_rs_g3_2022    726
r_ethw_rs_g3_2022    194
r_ecoy_rs_g3_2022     74
r_eco1_rs_g3_2022    133
r_ti1y_rs_g3_2022     65
r_spey_rs_g3_2022    404
m_all_rs_g3_2022       9
m_ethh_rs_g3_2022    218
m_etha_rs_g3_2022    981
m_ethb_rs_g3_2022    726
m_ethw_rs_g3_2022    191
m_ecoy_rs_g3_2022     73
m_eco1_rs_g3_2022    133
m_ti1y_rs_g3_2022     64
m_spey_rs_g3_2022    403
dtype: int64

grade4_df
 District #             0
r_all_d_g4_2022        0
r_ethh_d_g4_2022       0
r_etha_d_g4_2022       0
r_ethb_d_g4_2022       0
r_ethw_d_g4_2022       0
r_ecoy_d_g4_2022       0
r_eco1_d_g4_2022       0
r_ti1y_d_g4_2022       0
r_spey_d_g4_2022       0
m_all_d_g4_2022        0
m_ethh_d_g4_2022       0
m_etha_d_g4_2022       0
m_ethb_d_g4_2022       0
m_ethw_d_g4_2022       0
m_ecoy_d_g4_2022       0
m_eco1_d_g4_2022       0
m_ti1y_d_g4_2022       0
m_spey_d_g4_2022       0
r_all_rs_g4_2022      15
r_ethh_rs_g4_2022    221
r_etha_rs_g4_2022    975
r_ethb_rs_g4_2022    718
r_ethw_rs_g4_2022    196
r_ecoy_rs_g4_2022     76
r_eco1_rs_g4_2022    142
r_ti1y_rs_g4_2022     72
r_spey_rs_g4_2022    380
m_all_rs_g4_2022      15
m_ethh_rs_g4_2022    222
m_etha_rs_g4_2022    975
m_ethb_rs_g4_2022    719
m_ethw_rs_g4_2022    196
m_ecoy_rs_g4_2022     76
m_eco1_rs_g4_2022    142
m_ti1y_rs_g4_2022     72
m_spey_rs_g4_2022    380
dtype: int64

grade5_df
 District #             0
r_all_d_g5_2022        0
r_ethh_d_g5_2022       0
r_etha_d_g5_2022       0
r_ethb_d_g5_2022       0
r_ethw_d_g5_2022       0
r_ecoy_d_g5_2022       0
r_eco1_d_g5_2022       0
r_ti1y_d_g5_2022       0
r_spey_d_g5_2022       0
m_all_d_g5_2022        0
m_ethh_d_g5_2022       0
m_etha_d_g5_2022       0
m_ethb_d_g5_2022       0
m_ethw_d_g5_2022       0
m_ecoy_d_g5_2022       0
m_eco1_d_g5_2022       0
m_ti1y_d_g5_2022       0
m_spey_d_g5_2022       0
r_all_rs_g5_2022      11
r_ethh_rs_g5_2022    207
r_etha_rs_g5_2022    977
r_ethb_rs_g5_2022    725
r_ethw_rs_g5_2022    202
r_ecoy_rs_g5_2022     78
r_eco1_rs_g5_2022    131
r_ti1y_rs_g5_2022     85
r_spey_rs_g5_2022    382
m_all_rs_g5_2022      11
m_ethh_rs_g5_2022    207
m_etha_rs_g5_2022    977
m_ethb_rs_g5_2022    725
m_ethw_rs_g5_2022    202
m_ecoy_rs_g5_2022     78
m_eco1_rs_g5_2022    131
m_ti1y_rs_g5_2022     85
m_spey_rs_g5_2022    381
dtype: int64

grade6_df
 District #             0
r_all_d_g6_2022        0
r_ethh_d_g6_2022       0
r_etha_d_g6_2022       0
r_ethb_d_g6_2022       0
r_ethw_d_g6_2022       0
r_ecoy_d_g6_2022       0
r_eco1_d_g6_2022       0
r_ti1y_d_g6_2022       0
r_spey_d_g6_2022       0
m_all_d_g6_2022        0
m_ethh_d_g6_2022       0
m_etha_d_g6_2022       0
m_ethb_d_g6_2022       0
m_ethw_d_g6_2022       0
m_ecoy_d_g6_2022       0
m_eco1_d_g6_2022       0
m_ti1y_d_g6_2022       0
m_spey_d_g6_2022       0
r_all_rs_g6_2022      10
r_ethh_rs_g6_2022    210
r_etha_rs_g6_2022    969
r_ethb_rs_g6_2022    710
r_ethw_rs_g6_2022    179
r_ecoy_rs_g6_2022     68
r_eco1_rs_g6_2022    138
r_ti1y_rs_g6_2022    210
r_spey_rs_g6_2022    371
m_all_rs_g6_2022      10
m_ethh_rs_g6_2022    210
m_etha_rs_g6_2022    974
m_ethb_rs_g6_2022    713
m_ethw_rs_g6_2022    179
m_ecoy_rs_g6_2022     68
m_eco1_rs_g6_2022    138
m_ti1y_rs_g6_2022    209
m_spey_rs_g6_2022    371
dtype: int64

grade7_df
 District #             0
r_all_d_g7_2022        0
r_ethh_d_g7_2022       0
r_etha_d_g7_2022       0
r_ethb_d_g7_2022       0
r_ethw_d_g7_2022       0
r_ecoy_d_g7_2022       0
r_eco1_d_g7_2022       0
r_ti1y_d_g7_2022       0
r_spey_d_g7_2022       0
m_all_d_g7_2022        0
m_ethh_d_g7_2022       0
m_etha_d_g7_2022       0
m_ethb_d_g7_2022       0
m_ethw_d_g7_2022       0
m_ecoy_d_g7_2022       0
m_eco1_d_g7_2022       0
m_ti1y_d_g7_2022       0
m_spey_d_g7_2022       0
r_all_rs_g7_2022      15
r_ethh_rs_g7_2022    198
r_etha_rs_g7_2022    963
r_ethb_rs_g7_2022    709
r_ethw_rs_g7_2022    172
r_ecoy_rs_g7_2022     71
r_eco1_rs_g7_2022    139
r_ti1y_rs_g7_2022    251
r_spey_rs_g7_2022    392
m_all_rs_g7_2022      20
m_ethh_rs_g7_2022    204
m_etha_rs_g7_2022    987
m_ethb_rs_g7_2022    722
m_ethw_rs_g7_2022    183
m_ecoy_rs_g7_2022     78
m_eco1_rs_g7_2022    144
m_ti1y_rs_g7_2022    254
m_spey_rs_g7_2022    398
dtype: int64

grade8_df
 District #             0
r_all_d_g8_2022        0
r_ethh_d_g8_2022       0
r_etha_d_g8_2022       0
r_ethb_d_g8_2022       0
r_ethw_d_g8_2022       0
r_ecoy_d_g8_2022       0
r_eco1_d_g8_2022       0
r_ti1y_d_g8_2022       0
r_spey_d_g8_2022       0
m_all_d_g8_2022        0
m_ethh_d_g8_2022       0
m_etha_d_g8_2022       0
m_ethb_d_g8_2022       0
m_ethw_d_g8_2022       0
m_ecoy_d_g8_2022       0
m_eco1_d_g8_2022       0
m_ti1y_d_g8_2022       0
m_spey_d_g8_2022       0
r_all_rs_g8_2022      13
r_ethh_rs_g8_2022    198
r_etha_rs_g8_2022    955
r_ethb_rs_g8_2022    695
r_ethw_rs_g8_2022    171
r_ecoy_rs_g8_2022     74
r_eco1_rs_g8_2022    137
r_ti1y_rs_g8_2022    256
r_spey_rs_g8_2022    393
m_all_rs_g8_2022      27
m_ethh_rs_g8_2022    223
m_etha_rs_g8_2022    993
m_ethb_rs_g8_2022    714
m_ethw_rs_g8_2022    201
m_ecoy_rs_g8_2022     93
m_eco1_rs_g8_2022    157
m_ti1y_rs_g8_2022    266
m_spey_rs_g8_2022    402
dtype: int64

In [13]:
overall22_df = pd.merge(grade3_df, grade4_df, how='outer',on='District #')

In [14]:
overall22_df = pd.merge(overall22_df, grade5_df, how='outer',on='District #')

In [15]:
overall22_df = pd.merge(overall22_df, grade6_df, how='outer',on='District #')

In [16]:
overall22_df = pd.merge(overall22_df, grade7_df, how='outer',on='District #')

In [17]:
overall22_df = pd.merge(overall22_df, grade8_df, how='outer',on='District #')

In [18]:
overall22_df.describe()

,District #,r_all_d_g3_2022,r_ethh_d_g3_2022,r_etha_d_g3_2022,r_ethb_d_g3_2022,r_ethw_d_g3_2022,r_ecoy_d_g3_2022,r_eco1_d_g3_2022,r_ti1y_d_g3_2022,r_spey_d_g3_2022,...,r_spey_rs_g8_2022,m_all_rs_g8_2022,m_ethh_rs_g8_2022,m_etha_rs_g8_2022,m_ethb_rs_g8_2022,m_ethw_rs_g8_2022,m_ecoy_rs_g8_2022,m_eco1_rs_g8_2022,m_ti1y_rs_g8_2022,m_spey_rs_g8_2022
count,1185.000000,1165.000000,1165.000000,1165.000000,1165.000000,1165.000000,1165.000000,1165.000000,1165.000000,1165.000000,...,756.000000,1122.000000,926.000000,156.000000,435.000000,948.000000,1056.000000,992.000000,883.000000,747.000000
mean,123338.148523,300.790558,144.768240,17.066953,39.975107,85.596567,175.294421,131.514163,215.976824,40.228326,...,1568.597884,1672.680927,1659.069114,1794.301282,1625.602299,1695.850211,1650.807765,1646.946573,1666.588901,1557.804552
std,72685.056799,786.870566,433.452104,100.862878,162.392910,200.158014,502.362402,342.932503,558.505389,103.364954,...,45.923976,66.723829,63.112971,86.199500,57.981409,66.198102,58.010752,57.349497,67.108534,42.926545
min,1902.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1444.000000,1464.000000,1483.000000,1542.000000,1418.000000,1509.000000,1472.000000,1472.000000,1469.000000,1419.000000
25%,61901.000000,27.000000,7.000000,0.000000,0.000000,8.000000,13.000000,10.000000,21.000000,3.000000,...,1538.000000,1629.000000,1616.000000,1742.000000,1589.500000,1649.000000,1613.000000,1609.000000,1622.500000,1527.500000
50%,111903.000000,65.000000,21.000000,0.000000,2.000000,25.000000,34.000000,27.000000,56.000000,8.000000,...,1564.000000,1665.500000,1651.000000,1787.000000,1618.000000,1693.000000,1647.000000,1642.000000,1661.000000,1552.000000
75%,183801.000000,195.000000,82.000000,2.000000,12.000000,66.000000,112.000000,89.000000,164.000000,26.000000,...,1595.000000,1709.750000,1692.000000,1843.250000,1657.500000,1739.000000,1685.000000,1679.000000,1701.000000,1581.000000
max,254902.000000,11216.000000,5821.000000,1995.000000,3015.000000,2203.000000,8308.000000,3623.000000,9349.000000,1110.000000,...,1736.000000,1932.000000,2010.000000,2033.000000,1882.000000,1925.000000,1965.000000,2036.000000,1997.000000,1755.000000

In [17]:
overall22_df.to_csv('data/DATA_STAAR_DISTRICT_2022.csv',index=None)